.charactersGroup {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}

.characters {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 12px 12px;
    margin: 12px 0;
}

.content.flex {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.charactersGroup:not(:last-of-type) > .characters::after {
    content: '';
    width: 100%;
    min-width: 200px;
    height: 2px;
    background: linear-gradient(to right, #715248ff, #71524820, #71524800);
    position: absolute;
    bottom: -12px;
    left: -48px;
}
.character {
    flex: 1 1 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alignmentName {
    position: relative;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-weight: 100;
    line-height: 48px;
    background: repeat url('/textures/ribbon.webp');
    background-size: 48px;
    color: #FFF !important;
    margin-left: -16px;
    margin-right: 16px;
    padding: 16px 0;
}

.character .icon {
    margin: -20px 0 -20px -16px;
}

.character .name {
    margin: 0;
    font-size: 16px;
}

.character .ability {
    font-family: 'Roboto-Condensed';
    font-size: 14px;
    margin: 0;
    white-space: pre-wrap;
}

.minion, .demon {
    color: #A21;
}

.townsfolk, .outsider {
    color: #06B;
}

.traveller {
    color: #555;
}

.fabled {
    color: #C94;
}

.qr {
    display: none;
}

@media screen and (max-width: 648px) {
    .charactersGroup {
        flex-direction: column;
    }

    .alignmentName {
        writing-mode: initial;
        margin-right: -16px;
        padding: 0;
    }
}

@media print {
    @page {
        margin: 0;
    }

    html {
        background: #F4F2EB url('/textures/paper.webp');
    }

    body {
        padding: 0;
    }

    body::before {
        content: '';
        position: absolute;
        top: -50px;
        left: 0;
        width: 48px;
        height: 132px;
        margin: 0;
        background: repeat url('/textures/ribbon.webp');
        background-size: 48px;
    }

    .qr {
        display: block;
    }

    .content {
        background: none;
        min-height: calc(100vh - 82px);
    }

    .title {
        padding-left: 64px;
        color: #5c1f22;    
        -webkit-text-stroke: 1px #5c1f22;
    }

    .character .name {
        margin: 0;
        font-size: 14px;
    }
    
    .character .ability {
        font-size: 12px;
    }

    .content::before, .content::after {
        display: none;
    }

    .characters::after {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}