.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-12 {
    gap: 12px;
    margin: 12px 0;
}

.characters-group {
    position: relative;
    align-items: stretch;
    flex-grow: 1;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-stretch {
    align-items: stretch;
}

.buttons {
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.characters-group:not(:last-of-type)::after {
    content: '';
    width: 100%;
    min-width: 200px;
    height: 2px;
    background: linear-gradient(to right, #715248ff, #71524820, #71524800);
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.script-title {
    color: #5c1f22;    
    -webkit-text-stroke: 1px #5c1f22;
    line-height: 1;
}

.character {
    flex: 1 1 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alignment-name {
    position: relative;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-weight: 100;
    line-height: 48px;
    background: repeat url('/textures/ribbon.webp');
    background-size: 48px;
    color: #FFF !important;
    margin-left: -16px;
    margin-right: 16px;
    padding: 16px 0;
}

.character .icon {
    margin: -20px 0 -20px -16px;
}

.character .name {
    margin: 0;
    font-size: 16px;
}

.character .ability {
    font-family: 'Roboto-Condensed';
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    color: #000;
    white-space: pre-wrap;
}

.minion, .demon {
    color: #A21;
}

.townsfolk, .outsider {
    color: #06B;
}

.traveller {
    color: #555;
}

.fabled {
    color: #C94;
}

.qr {
    position: absolute;
    right: 24px;
    top: 32px;
    display: none;
}

.night-order {
    flex: 1 1 280px;
}

.jinx-list {
    flex: 2 1 560px;
}

.night-order-character {
    align-items: center;
}

.night-order-character .icon,
.jinx-list .icon {
    margin: -2px 0px -6px -8px;
}

.night-order-character .name {
    margin: 0;
    font-family: 'Roboto-Condensed';
    font-size: 16px;
}

@media screen and (max-width: 648px) {
    .characters-group {
        flex-direction: column;
    }

    .alignment-name {
        writing-mode: initial;
        margin-right: -16px;
        padding: 0;
    }
}

@media print {
    @page {
        margin: 0;
    }

    html {
        background: #F4F2EB url('/textures/paper.webp');
        background-size: 100vw 100vh;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    body {
        padding: 16px 8px 0 16px;
    }

    body::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 64px;
        margin: 0;
        background: repeat url('/textures/ribbon.webp');
        background-size: 48px;
    }

    .qr {
        display: block;
    }

    .content {
        margin: 0;
        background: none;
        min-height: calc(100vh - 24px);
    }

    .character .name {
        margin: 0;
        font-size: 14px;
    }
    
    .character .ability {
        font-size: 12px;
    }

    .character .icon {
        margin: -24px 0 -24px -16px;
        width: 80px;
    }

    .content::before, .content::after, .print-hide {
        display: none !important;
    }

    .flex > .script-title {    
        margin: 8px 0;
    }

    .other-night {
        transform: rotate(180deg);
    }
}