.token {
    display: flex;
    border-radius: 50% 50%;
    background: #E1DCCD url('/images/token.webp');
    background-size: 113%;
    background-position: 50% 50%;
}

.token .icon {
    position: absolute;
    background-size: 60%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}