.token {
    display: flex;
    position: relative;
    aspect-ratio: 1/1;
    border-radius: 50% 50%;
    background: #E1DCCD url('/images/token.webp');
    background-size: 113%;
    background-position: 50% 50%;
    outline: 1px solid black;
}

.token .icon {
    position: absolute;
    -webkit-user-drag: none;
}

.token .text {
    user-select: none;
}