@font-face {
    font-family: 'Dumbledore-en';
    src: url('/fonts/dumbledor.woff2') format('woff2');
}

html {
    background: #1F0E26 url('/textures/violet.webp');
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

body {
    max-width: 600px;
    margin: 8px auto;
    padding: 0 8px;
    overflow-x: hidden;
}

.title {
    font-family: 'Dumbledore';
    color: #E1D28C;
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
}

.dumbledore {
    font-family: 'Dumbledore';
}

html[lang="en"] .title {
    font-family: 'Dumbledore-en';
    text-transform: uppercase;
    margin-bottom: 14px;
}

.content {
    position: relative;
    background: #F4F2EB url('/textures/paper.webp');
    margin: 24px -8px 0;
    padding: 2px 16px;
    color: rgb(92, 31, 34);
}

.content::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 2%;
    width: 96%;
    height: 16px;
    background: #F4F2EB;
    transform: rotate(-2deg);
    filter: brightness(0.75);
}

.content::after {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 2%;
    width: 96%;
    height: 16px;
    background: #F4F2EB;
    transform: rotate(-2deg);
    filter: brightness(0.75);
}


.note {
    font-family: 'Dumbledore';
    font-style: italic;
    opacity: 0.5;
}